.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  margin: 202px 0 28px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: "Noto-Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto-serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__paragraph {
  display: flex;
  margin: 0 0 0 80px;
  color: #6f6f6f;
}

.header__footer {
  padding-bottom: 40px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
